# Stack
.stack-work/
.stack-work-profiling/
.stack-work-production/
*.cabal

# Profile files.
/scripts/slynx-examine.aux
/scripts/slynx-examine.eventlog
/scripts/slynx-examine.hp
/scripts/slynx-examine.out
/scripts/slynx-examine.prof
/scripts/slynx-examine.svg
/scripts/slynx-simulate.aux
/scripts/slynx-simulate.eventlog
/scripts/slynx-simulate.fasta
/scripts/slynx-simulate.hp
/scripts/slynx-simulate.prof
/scripts/slynx-simulate.svg
/scripts/slynx-simulate.out
/scripts/slynx-simulate.fasta
/scripts/slynx-simulate.model
/scripts/tlynx-simulate.aux
/scripts/tlynx-simulate.eventlog
/scripts/tlynx-simulate.hp
/scripts/tlynx-simulate.out
/scripts/tlynx-simulate.tree
/scripts/tlynx-simulate.prof
/scripts/tlynx-simulate.svg
/scripts/iqtree-verify.*
/scripts/module-dependencies-*
/slynx/data/BenchmarkEnsemblMouse.fa
/slynx/data/Profile.fa
/misc/**

# IQ-TREE files.
*.bionj
*.ckp.gz
*.iqtree
*.log
*.mldist
*.treefile

# Tags.
/**/TAGS
/**/GPATH
/**/GRTAGS
/**/GTAGS

# Emacs related files.
/**/dist/
/**/dist-newstyle/
/.dir-locals.el
/stack.yaml.lock
