# Stack
.stack-work/
.stack-work-profiling/
.stack-work-testing/
evomod.cabal

# Profile files.
evomod-seq.aux
evomod-seq.eventlog
evomod-seq.hp
evomod-seq.prof
evomod-seq.ps
evomod-sim.aux
evomod-sim.eventlog
evomod-sim.hp
evomod-sim.prof
evomod-sim.ps
evomod-sim.out
evomod-sim.out.log
evomod-sim.out.model
/scripts/iqtree-verify.*

# IQ-TREE files.
*.bionj
*.ckp.gz
*.iqtree
*.log
*.mldist
*.treefile

# Tags.
/TAGS
/GPATH
/GRTAGS
/GTAGS

# Emacs related files.
dist/
dist-newstyle/
/.dir-locals.el
