# Stack
.stack-work/
.stack-work-profiling/
.stack-work-production/
evomod-seq.cabal
evomod-tools.cabal
evomod-tree.cabal

# Profile files.
/scripts/seq-ana.aux
/scripts/seq-ana.eventlog
/scripts/seq-ana.hp
/scripts/seq-ana.prof
/scripts/seq-ana.ps
/scripts/seq-sim.aux
/scripts/seq-sim.eventlog
/scripts/seq-sim.hp
/scripts/seq-sim.prof
/scripts/seq-sim.ps
/scripts/seq-sim.out
/scripts/seq-sim.out.log
/scripts/seq-sim.out.model
/scripts/tree-sim.aux
/scripts/tree-sim.eventlog
/scripts/tree-sim.hp
/scripts/tree-sim.out
/scripts/tree-sim.prof
/scripts/tree-sim.ps
/scripts/iqtree-verify.*
/scripts/module-dependencies-*
/evomod-seq/data/BenchmarkEnsemblMouse.fa
/evomod-seq/data/Profile.fa

# IQ-TREE files.
*.bionj
*.ckp.gz
*.iqtree
*.log
*.mldist
*.treefile

# Tags.
/**/TAGS
/**/GPATH
/**/GRTAGS
/**/GTAGS

# Emacs related files.
dist/
dist-newstyle/
/.dir-locals.el
/stack.yaml.lock
